html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.font {
  &.white {
    color: white;
  }

  &.extra-large {
    font-size: 80px;
    line-height: 100px;

    font-weight: bold;
  }

  &.medium {
    font-size: 32px;
    line-height: 32px;
  }
}
